/* Write your code here. */
.winOrLossCard {
  background-color: aliceblue;
  padding: 25px;
  border-radius: 8px;
  border-width: 0px;
}
.play-button {
  background-color: yellow;
  border-radius: 8px;
  border-width: 0px;
  padding: 10px;
  color: #000000;
}
